body{

margin:0;
font-family:Arial;
background:#f5f6fa;

display:flex;

}



.sidebar{

width:230px;
height:100vh;
background:#20232a;
color:white;
padding:20px;

}



.sidebar h2{

text-align:center;

}



.sidebar p{

padding:12px;
border-radius:8px;

}



.sidebar p:hover{

background:#333;

}



.main{

flex:1;
padding:30px;

}



.cards{

display:flex;
gap:20px;

}



.card{

background:white;
padding:25px;
border-radius:15px;
flex:1;
box-shadow:0 5px 15px #ddd;

}



.card strong{

font-size:35px;

}



.warning{

border-top:5px solid red;

}



table{

width:100%;
background:white;
margin-top:20px;
border-collapse:collapse;

}



th{

background:#20232a;
color:white;

}



td,th{

padding:15px;

}
